/* ================ VARIAVEIS ================ */
:root {
    --corMenus: #005198;
    --corMenusHover: #1f77c4;
    --corTextoMenu: white;
    --corInfoMenu: lightgrey;
    --bordaItemMenuLateral: 1px solid rgba(255, 255, 255, 0.1);
}
/* =========================================== */

*  {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif; 
}

#menuLateral {
    position: fixed;
    width: 200px;
    height: 100%;
    background: var(--corMenus);
    left: -138px;
    transition: all 500ms ease;
    font-size: 0px;
}

#menuLateral.active {
    left: 0px;
    transition: all 500ms ease;
    font-size: 16px;
}

#menuLateral.active>.imagem {
    width: 100%;
    height: 100%;
}

#menuLateral ul li {
    color:white;
    list-style: none;
    padding: 15px 10px;
    border-bottom: var(--bordaItemMenuLateral);
}

#menuLateral li:hover {
    background: var(--corMenusHover);
}

#menuLateral .toggle-btn {
    position: absolute;
    left: 230px;
    top: 20px;
}

#menuLateral .toggle-btn  span {
    display: block;
    width: 30px;
    height: 5px;
    background: var(--corMenus);
    margin: 5px 0px;
}

#menuLateral .info {
    color: var(--corInfoMenu);
    font-size: 12px;
    
}

#menuLateral .info>.count{
    float: none;
    padding-right: 10px;
}

#menuLateral .imagem {
}

/* RIGHT BAR ============================ */

#menuFiltros {
    position: fixed;
    margin-top: 50px;
    width: 200px;
    height: auto;
    background: var(--corMenus);
    right: -200px;
    transition: all 500ms ease;
    border-radius: 0px 0px 0px 10px;
}

#menuFiltros.active {
    right: 0px;
    transition: all 500ms ease;
}

#menuFiltros ul li {
    color: var(--corTextoMenu);
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid rgba(100, 100, 100, 0.3);
}

#menuFiltros .toggle-btn-right {
    position: absolute;
    right: 200px;
    top: 0px;
    line-height: 30px;
}

#menuFiltros .toggle-btn-right span {
    display: block;
    width: 100px;
    height: 30px;
    background: var(--corMenus);
    margin: 0px 0px;
    text-align: center;
    margin: auto;
    color: var(--corTextoMenu);
    font-size: 14px;
    border-radius: 10px 0px 0px 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
