.fundo {
  background: #fcfcfc;
  height: 1000px;
}

/* ======= NAVBAR SUPERIOR ======= */
.navbar {
  padding: 20px;
}

.menuSuperior {
  background: white;
}

.navbar h {
  color: #005198;
  padding-left: 15px;
  font-size: 32px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* ======= MENU LATERAL ======= */

.menuLateral {
  width: 20%;
  height: 100%;
  background: white;
  margin-top: 10px;
  border-radius: 0px 7px 7px 0px;
}

.nav-link {
  border-right: 4px solid transparent;
}

.nav-link:focus {
  color: #005198;
  border-right: 4px solid #005198;
  background: #fbfbfb; 
}

.nav-link:hover {
  color: #005198;
}

.infoPagina {
  font-size: 12px;
  padding-left: 20px;
  padding-top: 10px;
  color: #c0c0c0;
}

.tituloPagina {
  color: gray;
}

.countProcessosHint {
  float: right;
}

/* RESPONSIVIDADE */
@media screen and (max-width: 480px)  {
  .navbar h {
      font-size: 18px;
  }

  .logo {
    width: 20%;
    height: 20%;;
  }

  .menuLateral {
    width: 100%;
    height: auto;
  }
}
