<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/estilo.css">
    <link rel="stylesheet" type="text/css" href="css/loading.css"/>

    <title>ORGÃO - DASHBOARD</title>
  </head>
	
  <body>
    <div>
        <div id="menuLateral">
            <div class="toggle-btn" onclick="toggleSideBar()">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <ul>
                <li onclick="location.href='page.html';"> 
                    <div>
                        <span>
                            Home     
                        </span>
                        <span class="imagem">
                                <img src="https://png.pngtree.com/element_pic/00/16/07/165789984e908db.jpg" width="20%" height="20%" style="float:right;">
                        </span>   
                    </div>
                    <div class="info">
                        <span>Total de processos: </span>
                        <span class="count">430</span>
                    </div>

                    
                </li>
    
                <li onclick="location.href='page.html';">
                    <div>
                        <span>
                            Home1
                        </span>
                        <span class="imagem">
                            <div class="ld ld-hourglass ld-spin-fast" style="font-size:12px;color:#8da;"></div>
                        </span>
                    </div>

                    <div class="info">
                        <span>Total de processos: </span>
                        <span class="count">430</span>
                    </div>
                </li>
    
                <li onclick="location.href='page.html';">

                    <div>
                        <span>
                            Home2
                        </span>
                        <span class="imagem">
                            <div class="ld ld-hourglass ld-spin-fast" style="font-size:12px;color:#8da;"></div>
                        </span>
                    </div>

                    <div class="info">
                        <span>Total de processos: </span>
                        <span class="count">430</span>
                    </div>   
                </li>
            </ul>
        </div>
    </div>
    

    <div id="menuFiltros">
        <div class="toggle-btn-right" onclick="toggleRightBar()">
            <span>
                FILTROS
            </span>
        </div>
        <ul>
            <li>Home</li>
            <li>Home1</li>
            <li>Home2</li>
        </ul>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>

<script type="text/javascript" src="js/home.js"></script>